<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/auth.css">
    <title>Login</title>
</head>
<body>
    <div class="main">
        <div class="login-container">
            <div class="logo">
                <img src="../../public/img/logoColor.png" alt="">
            </div>
            <div class="title">Welcome to Adcropper!</div>
            <div class="email-container">
                <label for="email" class="email-label">Email</label>
                <input type="email" id="email" name="email" placeholder="info@adcropper.com">
            </div>
            <div class="password-container">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <label for="password" class="password-label">Password</label>
                    <a href="./new-password.html" class="forgot-password">Forgot Password?</a>
                </div>
                <input type="password" id="password" name="password" placeholder="************">
                <div class="rememberMe d-flex" style="margin-top: 20px; width: 100%;">
                    <input type="checkbox" name="rememberMe" id="rememberMe">
                    <label for="rememberMe" class="rememberMe-label" style="margin-left: 5px;">Remember Me</label>
                </div>
            </div>
            <div class="signIn-container">
                <button class="signInBtn">Sign in</button>
            </div>
        </div>
    </div>
</body>
</html>