<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/auth.css">
    <title>New Password</title>
</head>
<body>
    <div class="auth-main">
        <div class="login-container">
            <div class="logo">
                <img src="../../public/img/logoColor.png" alt="">
            </div>
            <div class="title">New Password</div>
            <div class="password-container">
                <label for="password" class="password-label">Password</label>
                <input type="password" id="password" name="password" placeholder="************">
            </div>
            <div class="password-container">
                <label for="repeatPassword" class="repeatPassword-label">Repeat Password</label>
                <input type="repeatPassword" id="repeatPassword" name="repeatPassword" placeholder="************">
            </div>
            <div class="signIn-container">
                <button class="signInBtn">Sign in</button>
            </div>
        </div>
    </div>
</body>
</html>